@font-face {
  font-family: "StyleScript";
  src: url("../assets/fonts/Tinos-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* home.js */
.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pageBackground {
  background: linear-gradient(135deg, #f3f9ff, #d9e9f9);
  z-index: 0;
  position: relative;
}

/* works.js */
.title {
  color: #007aff;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

.workContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.card {
  position: relative;
  cursor: pointer;
  width: 180px;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.labelOverlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

/* SocialNetworks.js */
.socialContainer {
  display: flex;
  flex-direction: column;
}
.iconContainer {
  display: flex;
  flex-direction: column;
}

.iconItem {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.button {
  border: none;
  background: none;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.footerText {
  font-size: 12px;
  margin: 20px;
  color: #555;
}

.policyLink {
  margin: 20px 20px 0 20px;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 20px;
  background-color: rgb(93, 136, 186);
  color: white;
  border-radius: 5px;
  text-align: center;
}

/* PolicySupport.js */
.policyWrapper {
  background-color: #f8f9fa;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
  font-family: "Varela Round", sans-serif;
  color: #333;
}

.titlePolicy {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  border-bottom: 2px solid #0072ff;
  padding-bottom: 10px;
}

.policyItem {
  margin-bottom: 30px;
}

.policyHeading {
  font-size: 22px;
  font-weight: 500;
  color: #0072ff;
  margin-bottom: 10px;
}

.policyText {
  font-size: 18px;
  line-height: 1.8;
  color: #555;
}

/* Contact.js */
.titleContact {
  color: #333;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #0072ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.successMessage {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  color: green;
}

/* About.js */
.rtl {
  direction: rtl;
  text-align: right;
}
.sectionWrapper {
  position: relative;
  background-image: url("../assets/images/protraits/protrait-1.jpg");
  background-size: cover;
  background-position: 75% 20%;
  opacity: 75%;
  height: 100%;
  padding: 40px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  font-family: "Varela Round", sans-serif;
}

.titleAbout {
  font-family: "David Libre", serif;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hebrewText,
.englishText {
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.overlay {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.titleAbout,
.hebrewText,
.englishText {
  position: relative;
  z-index: 2;
  color: white;
}

/* dialog.js  */
.dialogImage {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Feedback.js */
.feedbackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #f8f9fa83;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.feedbackTitle {
  font-size: 28px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.feedbackInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.feedbackTextarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
}

.feedbackButton {
  display: block;
  width: 100%;
  color: white;
  font-size: 18px;
  background: linear-gradient(45deg, #00c6ff, #0072ff);
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.4s ease-in-out;
  border: none;
}

.feedbackButton:hover {
  background: linear-gradient(45deg, #0072ff, #00c6ff);
  transform: scale(1.05);
}

.successMessage {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  color: green;
}

/* feedback list */
.feedbackHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.newFeedbackContainer {
  padding: 20px;
  background-color: #f0f4f8;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 95%;
  margin: 20px;
}

.newFeedbackTitle {
  color: #007aff;
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 20px;
  text-align: center;
}

.newFeedbackList {
  list-style-type: none;
  padding: 0;
}

.newFeedbackItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
}

.newFeedbackContent {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.newFeedbackName {
  font-weight: bold;
  margin-right: 10px;
}

.newFeedbackImage {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  margin-right: 10px;
}

.newFeedbackText {
  display: flex;
  flex-direction: column;
}

.newFeedbackNote {
  color: #555;
  flex-grow: 1;
}
.addFeedbackButton {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addFeedbackButton:hover {
  background-color: #0056b3;
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }

  .shopContainer {
    padding: 0;
    margin: 0;
  }

  .cardContainer {
    gap: 10px;
    padding: 0 10px;
  }

  .card {
    margin: 0;
  }

  .policyWrapper,
  .sectionWrapper,
  .feedbackContainer,
  .newFeedbackContainer {
    padding: 20px;
    margin: 0 20px 0 20px;
    width: calc(95% - 60px);
  }

  .title,
  .titlePolicy,
  .titleAbout,
  .feedbackTitle,
  .newFeedbackTitle {
    font-size: 24px;
  }

  .feedbackInput,
  .feedbackTextarea {
    font-size: 14px;
    width: calc(100% - 20px);
  }
}

/* collections */
.carouselBlock {
  display: flex;
  padding-top: 3rem;
}

.curveRight .imageWrapper img {
  border-radius: 50% 0 0 50%;
}

.curveLeft .imageWrapper img {
  border-radius: 0 50% 50% 0;
}

.placeholder {
  flex: 1;
}

.carousleWrapper {
  flex: 3;
}

.imageWrapper {
  position: relative;
  flex: 2;
}

.imageWrapper img {
  width: 100%;
  object-fit: contain;
  z-index: 2;
}

.textWrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.329);
  border-radius: 5px;
}

.textLeft {
  bottom: 10px;
  left: 10px;
}

.textRight {
  bottom: 10px;
  right: 10px;
}

.collectionTitle {
  margin-bottom: 1rem;
  color: rgb(93, 136, 186);
  /* color: rgba(255, 255, 255, 0.74); */
}

.carouselBlock:nth-child(even) {
  flex-direction: row-reverse;
}

/* collectionPage */
.collectionContainer {
  padding: 20px;
  text-align: center;
}

.collectionTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* description.js */
.descriptionTitle {
  font-family: "David Libre", serif;
  font-size: 24px;
  text-align: center;
  color: rgb(93, 136, 186);
}

.descriptionImage {
  display: block;
  margin: 10px auto;
  width: 35%;
  height: auto;
}

@media (min-width: 1024px) {
  .descriptionImage {
    width: 10%;
  }
}
